<h1>Clientes</h1>
<a href="./clientes/novo" class="btn btn-primary">Novo</a>
<hr>
<table class="table">
    <thead> {{!-- Títulos da tabela --}}
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Endereço</th>
            <th>Sexo</th>
            <th>Telefone</th>
            <th></th>
        </tr>
    </thead>
    <tbody> {{!-- Conteúdo da tabela --}}
        {{#each listaClientes}} {{!-- "For" do Handlebars --}}
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.nome}}</td>
            <td>{{this.endereco}}</td>
            <td>{{this.sexo}}</td>
            <td>{{this.telefone}}</td>
            <td><a href="/clientes/alterar/{{this.id}}" class="btn btn-warning">Alterar</a>
                <buttom class="btn btn-danger js-delete" data-id="{{this.id}}">Excluir</buttom>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>